* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #f8f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
  text-align: center;
}

.auth-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #1f2d3d;
}

.auth-form p {
  color: #6c757d;
  margin-bottom: 25px;
}

.form-group {
  text-align: left;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  color: #2d3748;
  font-weight: 600;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1.5px solid #cbd5e0;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
}

.form-group input:focus {
  border-color: #6366f1;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.2);
}

.primary-btn {
  width: 100%;
  padding: 12px;
  background-color: #6366f1;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.primary-btn:hover {
  background-color: #4f46e5;
}

.footer-text {
  margin-top: 20px;
  font-size: 14px;
}

.footer-text a {
  color: #6366f1;
  font-weight: 600;
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: underline;
}
.truck-animation {
  position: absolute;
  top: 20px;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.truck-animation img {
  width: 80px;
  animation: moveTruck 8s linear infinite;
}

@keyframes moveTruck {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
